.main-container {
  display: flex;
}
.results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

.results-mycars {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.content {
  width: 50%;
}

.map-container{
  width: 50%;
}
