.carousel-photo-container {
  border-radius: 15px;
}


.card-rent {
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  position: sticky;
  top: 90px;
}

.price-hour {
  font-size: 18px;
}

.btn-book {
  display: inline-block;
  background-color: #24282C;
  border: 2px solid #24282C;
  color: #FFFFFF;
  padding: 15px 40px;
  border-radius: 15px;
  text-decoration: none;
  margin-bottom: 15px;
  width: 100%;
  font-size: 17px;
}

.btn-book:hover {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #24282C;
  border: 2px solid #24282C;
  transition: all .4s ease;
}

