<footer class="text-muted mt-5 py-5 bg-light">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>All Liberty Mutual liability insurance in the world is offered through Vintage cars. Terms, conditions, and exclusions apply.</p>

    <p><strong>© 2020 Vintage Cars, Inc. All rights reserved·Privacy·Terms·Sitemap·UK Modern Slavery Act·Company details</strong></p>
  </div>
  
</footer>
