   <div class="col-12 p-0 col-md-6" data-controller="map">
      <div id="map"
        data-target="map.map"
        style="width: 100%; height: 100vh; position: sticky; top: 0;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
