
      <div id="map"
        data-controller="map"
        data-target="map.map"
        style="width: 100%; height: 88vh; position: sticky; top: 80px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

