<div class="container my-5">
  <div class="row justify-content-center">
    <%= form_tag cars_path, method: :get, class: "form-row search-form" do %>
      <div class="">
        <%= text_field_tag :query,
          params[:query],
          class: "search-bar",
          placeholder: "Look for brand, model or city..."
        %>
      </div>
      <div class="">
        <%= submit_tag "Search", class: "search-btn mr-2" %>
        <a href="/cars" class="text-muted">See all cars</a>
      </div>
        <% end %>
  </div>
</div>


<div class="container background-picture my-5">
  <div class="row p-5">
    <div class="col-5">
      <h1 class="font-weight-bolder text-light">Vintage is trendy</h1>
      <p class="text-light">The moment is now, drive your dream car <br>and feel the old-times</p>
    </div>
  </div>
</div>
