<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= form_tag cars_path, method: :get, class: "form-row" do %>
        <div class="col-8">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a city"
          %>
        </div>
        <div class="col-4">
          <%= submit_tag "Search", class: "btn btn-outline-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container background-picture">
  <div class="row justify-content-center align-items-center">
    <div class="col-6">
      <h1>This is our value proposition message</h1>
    </div>
  </div>
</div>
