.inline-block {
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.bookings-cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}


@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-rounded {
  border-radius: 8px;
}

.img-rounded {
  border-radius: 8px 8px 0px 0px;
}

.size-card {
  max-width: 700px;
}
