.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-vintagecars {
  background-color: #fff;
  height: 80px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.1);
}

.fa-user-circle {
  color: grey;
}

.dropdown-position {
  top: 130%;
  left: -130px;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,.1);
}
