// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import 'mapbox-gl/dist/mapbox-gl';

.wraper {
  min-height: 70vh;
}

.larger-font-size {
  font-size: 1rem;
}

.thinner-font-size {
  font-weight: lighter;
}
