<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h1>Edit your vintage car</h1>
      <p>Fill the form with new details</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 p-5 bg-light shadow-lg rounded">
      <%= render "form", car: @car %>
    </div>
  </div>
</div>
